@font-face {
    font-family: "MyFont";
    src: local("Arial");
}

:root {
    --main-bg: beige;
    --main-color: #0077cc;
    --card-bg: #ffffff;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--main-bg);
    font-family: "MyFont", sans-serif;
    border-bottom: 2px solid;
}

header h1 {
    font-size: medium;
    font-weight: bold;
    direction: rtl;
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s; 
}

nav ul li a:hover {
    color: var(--main-color);     
    text-decoration: underline;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    max-width: 500px;
    margin: 20p


